<html>
<head>
  <%- include ../partials/head %>
  <%- include ../partials/scripts %>

</head>
<body>
    <%- include ../partials/nav %>
  <main>
    <button>Stand Up!</button>
      <div>
        <p>Latest issues: </p>
        <%if (latestIssue.length > 0) { %>
          <% latestIssue.forEach(issue => { %>
            <p><a href='<%=issue.html_url %>'><%=issue.html_url %></a></p>
            <%}) %>
          <% } else { %>
          <p>No issues!</p>
          <% } %>
        
      </div>
      <div>
        <p>Latest commits: </p>
        <% latestCommit.forEach(commit => { %>
          <p><a href='<%=commit.html_url %>'><%=commit.html_url %></a></p>
        <%}) %>
      </div>
      <div>
        <p>Project checklist:</p>
      </div>
      <div>
        <p>Upcoming meetings:</p>
      </div>
      <button>PDF CREATOR!</button>
      <script>
        $(function () {
           let parse =  <%- JSON.stringify(eventList) %>
           $('#calendar').fullCalendar({ 
             defaultView: 'basicWeek',
            header: { 
              left: 'title', 
              center: '', 
              right: 'basicWeek,month prev,next'
            },
            events: parse
          })
        })
        </script>
      <div id='calendar'></div>
      <div id='add-sum-stuff'>
        <form action="/testertons/complete" method='POST'>
          <input name='project_id' type=hidden>
          <label for="name">Name of Project</label>
          <input name='name' type='text'>
          <label for='startdate'>Start Date</label>
          <input name='startdate' type='date'>
          <label for='enddate'>End Date</label>
          <input name='enddate' type='date'>
          <label for='descript'>Description</label>
          <input name='descript' type='textarea'>
          <button>Submit that shit fool</button>
        </form>
      </div>
  </main>
  <footer>
    insert footer partial here
  </footer>
</body>

</html>
