<html>
<head>
  <%- include ../partials/head %>
  <%- include ../partials/scripts %>

</head>
<body>
    <%- include ../partials/nav %>
  <main>
    <div class="dashboard-button-holder">
      <div class="dashboard-button-stand">
          <button class="stand-up-button" onclick="on()">Stand Up!</button>
      </div>
      <div id="overlay" onclick="off()">
        <div id="text">
          <p>Standup Timer</p>
          <p id="demo"></p>
          <ul class="timer-ul">
          <li class="timer">What did you accomplish yesterday?</li>
          <li class="timer">What is the plan for today?</li>
          <li class="timer">Are you dealing with any blockers?</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="dashboard-button-holder">
      <div class="dashboard-button">
        <a href="#">Calendar</a>
      </div>
      <div class="dashboard-button">
        <a href="#">Checklist</a>
      </div>
    </div>
    <div class="dashboard-div">
      <p class="dashboard-title">Latest issues: </p>
      <%if (latestIssue.length > 0) { %>
        <% latestIssue.forEach(issue => { %>
          <p class="dashboard-pTags"><a href='<%=issue.html_url %>' class="dashboard-aTags"><%=issue.title %></a></p>
          <%}) %>
        <% } else { %>
        <p class="dashboard-pTags">No issues currently!</p>
        <% } %>
    </div>
    <div class="dashboard-div bottom-div">
      <p class="dashboard-title">Latest commits: </p>
      <%if (latestIssue.length > 0) { %>
      <% latestCommit.forEach(commit => { %>
        <p class="dashboard-pTags"><a href='<%=commit.html_url %>' class="dashboard-aTags"><%=commit.commit.message.split('\n')[0] %></a></p>
      <%}) %>
      <% } else { %>
        <p class="dashboard-pTags">No commits yet!</p>
        <% } %>
    </div>

    <script>
      $(function () {
          let parse =  <%- JSON.stringify(eventList) %>;
          $('#calendar').fullCalendar({
            defaultView: 'basicWeek',
          header: {
            left: 'title',
            center: '',
            right: 'basicWeek,month prev,next'
          },
          events: parse
        })
      })

          let timerOn = false;
        function on() {
            document.getElementById("overlay").style.display = "block";
              if(!timerOn) {
                standupTimer();
                timerOn = true;
              }
        }

        function off() {
            document.getElementById("overlay").style.display = "none";

        }

        // Set the date we're counting down to
standupTimer = ()  => {
  var countDownDate = new Date(Date.now() + 8*60000);
  var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "Back to work!";
  }
}, 1000);
}

      </script>
  <div class="dashboard-button-holder">
    <div id='calendar'></div>
    <div id='add-sum-stuff'>
      <form action="/dashboard/<%= id %>" method='POST'>
        <input name="project_id" type="hidden" value="<%=id%>">
        <label for="name">Name of Project</label>
        <input name='name' type='text'>
        <label for='start'>Start Date</label>
        <input name='start' type='date'>
        <label for='end'>End Date</label>
        <input name='end' type='date'>
        <label for='description'>Description</label>
        <input name='description' type='textarea'>
        <button>Submit</button>
      </form>
    </div>
  </div>
  </main>
  <%- include ../partials/footer %>
</body>

</html>
