<html>
<head>
  <%- include ../partials/head %>
</head>
<body>
    <%- include ../partials/nav %>
  <main>
    <button>Stand Up!</button>
      <div>
        <p>Latest issues: </p>
        <%if (latestIssue.length > 0) { %>
          <% latestIssue.forEach(issue => { %>
            <p><a href='<%=issue.html_url %>'><%=issue.html_url %></a></p>
            <%}) %>
          <% } else { %>
          <p>No issues!</p>
          <% } %>
        
      </div>
      <div>
        <p>Latest commits: </p>
        <% latestCommit.forEach(commit => { %>
          <p><a href='<%=commit.html_url %>'><%=commit.html_url %></a></p>
        <%}) %>
      </div>
      <div>
        <p>Project checklist:</p>
      </div>
      <div>
        <p>Upcoming meetings:</p>
      </div>
      <button>PDF CREATOR!</button>
  </main>
  <footer>
    insert footer partial here
  </footer>
</body>

</html>
