<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <%- include ../partials/nav %>
    <main>
      <div class="content-wrap">
        <div id="new-project">
          <h2>New Project</h3>
          <div class="new-button">
            <a href="/form">clicky</a>
          </div>
        </div>
        <div id="open-projects">
          <h2>Open Projects</h3>

          <% cardbase.forEach(card => {%>

            <div class="card">
              <h3><%= card.name %></h3>
              <% let collabs = card.collaborators.split(',') %>
              <% collabs.forEach(collab => {%>
                <p class="collab"><%= collab %></p>
              <% }) %>
                <p class="desc"><%= card.description %></p>
                <div class="project-link">
                  <a href="/dashboard/<%= card.id %>">clicky</a>
                </div>
            </div>

          <% }) %>

    </main>
    <%- include ../partials/footer %>
  </body>
</html>
