<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <%- include ../partials/nav %>
    <main>
      <div class="content-wrap">
        <div id="new-project">
          <h2>New Project</h3>
          <div class="new-button">
            <a href="/form">clicky</a>
          </div>
        </div>
        <div id="open-projects">
          <h2>Open Projects</h3>

          <% cardbase.forEach(card => {%>

            <div class="card">
              <h3><%= card.name %></h3> 
              <% let collabs = card.collaborators.split(',') %>
              <% collabs.forEach(collab => {%>
                <p class="collab"><%= collab %></p>
              <% }) %>
                <p class="desc"><%= card.description %></p>
                <div class="project-link">
                  <a href="/dashboard/<%= card.id %>">clicky</a>
                </div>
            </div>

          <% }) %>

          <div class="card">
            <h3>Project One (static)</h3>
            <p class="collab">Chillaborator #a1</p>
            <p class="collab">Chillaborator #a2</p>
            <p class="collab">Chillaborator #a3</p>
            <p class="desc">This is a quick description of the project by these chillaborators, I'm sure it's great.</p>
            <div class="project-link">
              <a href="/dashboard/:id">clicky</a>
            </div>
          </div>
          <div class="card">
            <h3>Project Two (static)</h3>
            <p class="collab">Chillaborator #b1</p>
            <p class="collab">Chillaborator #b2</p>
            <p class="collab">Chillaborator #b3</p>
            <p class="desc">This is a quick description of the project by these chillaborators, I'm sure it's great.</p>
            <div class="project-link">
              <a href="/dashboard/:id">clicky</a>
            </div>
          </div>
          <div class="card">
            <h3>Project Three (static)</h3>
            <p class="collab">Chillaborator #c1</p>
            <p class="collab">Chillaborator #c2</p>
            <p class="collab">Chillaborator #c3</p>
            <p class="desc">This is a quick description of the project by these chillaborators, I'm sure it's great.</p>
            <div class="project-link">
              <a href="/dashboard/:id">clicky</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include ../partials/footer %>
  </body>
</html>
